print_direct = False
printer_name = "CUPS_PRINTER_NAME_FOR_DIRECT_PRINT"
email = "address@usedtosend.com"
password = "secret"
smtp_server = "smtp.usedtosend.com"
smtp_port = "587"
debug_email = "destination@emailaddress.com"
